@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .page-container{
        @apply w-[90%] sm:w-full mx-auto container;
    }

    .section{
        @apply py-12 md:py-16;
    }

    .off-canvas{
        @apply 
            fixed 
            top-0 
            left-0 
            w-full 
            h-[100vh] 
            bg-white 
            py-6 
            scale-0
            sm:hidden 
            z-50
            transition-transform 
            duration-300;
    }

    .off-canvas.active{
        @apply scale-100;
    }

    .about-banner{
        @apply 
            h-[17rem]
            md:h-[20rem] 
            bg-[url('/images/bg-section.jpg')] 
            bg-center 
            bg-no-repeat 
            bg-cover 
            text-white 
            text-center
            relative;
    }

    .button{
        @apply py-3 px-6 rounded-full font-bold;
    }

    .button.white{
        @apply bg-white text-edsoft-blue;
    }

    .button.blue{
        @apply bg-edsoft-blue text-white;
    }

    .section-title{
        @apply 
            font-bold
            font-title-font 
            text-4xl 
            text-center 
            mb-8 
            sm:mb-10 
            md:mb-16;
    }

    .project-card{
        @apply 
            h-56 
            xxs:h-72 
            xs:h-44 
            sm:h-56 
            lg:h-44 
            shadow-xl 
            rounded-md 
            overflow-hidden 
            relative;
    }

    .project-card-mask{
        @apply 
            absolute 
            top-0 
            left-0 
            w-full 
            h-full 
            px-2
            bg-edsoft-blue/90 
            text-white 
            flex 
            flex-col 
            justify-center 
            gap-1 
            text-center
            opacity-0
            pointer-events-none
            transition-opacity
            duration-200
            group-hover:opacity-100
            group-hover:pointer-events-auto;
    }

    .loader{
        @apply 
            w-12 
            h-12 
            rounded-full 
            border-2 
            border-edsoft-gray-light 
            border-t-edsoft-blue 
            animate-spin 
            mx-auto;
    }
}

:root{
    --header-size: 4rem;
}

body{
    display: grid;
    grid-template-rows: auto min-content;
    min-height: calc(100vh - var(--header-size));
    margin-top: var(--header-size);
}

html{
    font-size: 0.8125rem;
}

@media screen and (min-width: 20rem){
    html{
        font-size: calc(0.8125rem + 0.1875 * ((100vw - 20rem) / 61.25));
    }
}

@media screen and (min-width: 81.25rem){
    html{
        font-size: 1rem;
    }
}